In [1]:
import pandas as pd
import numpy as np

# Import tools needed for visualization
# from sklearn.tree import export_graphviz
# import pydot
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('ClimateChange.csv')

In [3]:
df.head()

   year  month  day  week  temp_2  temp_1  average  actual
0  2019      1    1   Fri      45      45     45.6      45
1  2019      1    2   Sat      44      45     45.7      44
2  2019      1    3   Sun      45      44     45.8      41
3  2019      1    4   Mon      44      41     45.9      40
4  2019      1    5  Tues      41      40     46.0      44

In [4]:
df.shape

(348, 8)

In [5]:
# checking for null values
df.isnull().sum()

year       0
month      0
day        0
week       0
temp_2     0
temp_1     0
average    0
actual     0
dtype: int64

One Hot Encoding

In [6]:
# One-hot encode categorical features
df = pd.get_dummies(df)
df.head(5)

,year,month,day,temp_2,temp_1,average,actual,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2019,1,1,45,45,45.6,45,True,False,False,False,False,False,False
1,2019,1,2,44,45,45.7,44,False,False,True,False,False,False,False
2,2019,1,3,45,44,45.8,41,False,False,False,True,False,False,False
3,2019,1,4,44,41,45.9,40,False,True,False,False,False,False,False
4,2019,1,5,41,40,46.0,44,False,False,False,False,False,True,False

In [7]:
print('Shape of features after one-hot encoding:', df.shape)

Shape of features after one-hot encoding: (348, 14)

Preprocessing

In [8]:
y = df['actual']
X = df.drop('actual', axis = 1)
feature_list = list(X.columns)
feature_list

['year',
 'month',
 'day',
 'temp_2',
 'temp_1',
 'average',
 'week_Fri',
 'week_Mon',
 'week_Sat',
 'week_Sun',
 'week_Thurs',
 'week_Tues',
 'week_Wed']

In [9]:
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [10]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model
rf = RandomForestRegressor(n_estimators= 1000, random_state=42)

# Train the model on training data
rf.fit(X_train, y_train)

RandomForestRegressor(n_estimators=1000, random_state=42)

In [11]:
predictions = rf.predict(X_test)
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, predictions)
print('Mean Absolute Error:', round(mae, 2))

Mean Absolute Error: 3.82

In [12]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, predictions)
print('Mean Squared Error:', round(mse, 2))

r2 = r2_score(y_test, predictions)
print('R-squared:', round(r2, 2))

Mean Squared Error: 24.59
R-squared: 0.82

In [13]:
tree = rf.estimators_[5]

print('The depth of this tree is:', tree.tree_.max_depth)

The depth of this tree is: 15